{% extends 'base.html' %}

<h1>{% block subtitle %}柱状图{% endblock %}</h1>

{% block header %}
<a class="action" href="{{ url_for('show.dynData') }}">动态数据</a>
<a class="action" href="{{ url_for('show.get_bar') }}">柱状图</a>
{% endblock %}

{% block content %}
<body>
    <div id="bar" style="width:1000px; height:600px;"></div>
    <script>
        var chart = echarts.init(document.getElementById('bar'), 'white', {
            renderer: 'canvas'
        });
        var old_data = [];
        $(
            function () {
                fetchData(chart);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/show/barData",
                dataType: "json",
                success: function (result) {
                    chart.setOption(result);
                    old_data = chart.getOption().series[0].data;
                }
            });
        }
    </script>
</body>
{% endblock %}

</html>